<aside class="sidebar-nav">
  <ul class="sidebar_mainnav">
    <li class="item_heading"><a href="/">Home</a></li>
    <li class="item_heading">Engineering Services</li>
    <ul class="sidebar_subnav">
      <li class="item_subheading"><a href="/engineering-services/mechanical-engineering/">Mechanical Engineering</a></li>
      <li class="item_subheading"><a href="/engineering-services/product-development/">Product Development</a></li>
      <li class="item_subheading"><a href="/engineering-services/precision-machine-design/">Precision Machine Design</a></li>
      <li class="item_subheading"><a href="/engineering-services/custom-machine-design">Custom Machine Design</a></li>
      <li class="item_subheading"><a href="/engineering-services/cad-design-services">CAD Design Services</a></li>
      <li class="item_subheading"><a href="/engineering-services/engineering-research/">Engineering Research</a></li>
      <li class="item_subheading"><a href="/engineering-services/manufacturing-support/">Manufacturing Support</a></li>
    </ul>
    <li class="item_heading"><a href="/areas-of-expertise/">Areas of Expertise</a></li>
    <li class="item_heading"><a href="/product-design-process">Product Design Process</a></li>
    <li class="item_heading"><a href="/sample-projects/">Sample Projects</a></li>
    <li class="item_heading"><a href="/testimonials/">Testimonials</a></li>
    <li class="item_heading"><a href="/contact-us/">Contact Us</a></li>
  </ul>
</aside>
