<aside class="sidebar-nav">
  <ul>
    <li><a href="/" class="nav1" style="margin-left: 10"><strong>Home</strong></a></li>
    <li><strong style="margin-left: 10">Engineering Services</strong></li>
    <ul>
      <li style="margin-left: -10; color: #99FF66"><a href="mechanical_engineering_design_services.html" class="nav1">Mechanical Engineering</a></li>
      <li style="margin-left: -10; color: #99FF66"><a href="product_development_engineering_services.html" class="nav1">Product Development</a></li>
      <li style="margin-left: -10; color: #99FF66"><a href="precision_machine_design.html" class="nav1">Precision Machine Design</a></li>
      <li style="margin-left: -10; color: #99FF66"><a href="custom_machine_design.html" class="nav1">Custom Machine Design</a></li>
      <li style="margin-left: -10; color: #99FF66"><a href="cad_design_services.html" class="nav1">CAD Design Services</a></li>
      <li style="margin-left: -10; color: #99FF66"><a href="research.html" class="nav1">Engineering Research </a></li>
      <li style="margin-left: -10; color: #99FF66"><a href="manufacturing_support.html" class="nav1">Manufacturing Support </a></li>
    </ul>
    <li><a href="areas_of_expertise.html" class="nav1" style="margin-left: 10"><strong>Areas of Expertise</strong></a></li>
    <li><a href="product_design_process.html" class="nav1" style="margin-left: 10"><strong>Product Design Process</strong></a></li>
    <li><a href="sample_projects.html" class="nav1" style="margin-left: 10"><strong>Sample Projects</strong></a></li>
    <li><a href="testimonials.html" class="nav1" style="margin-left: 10"><strong>Testimonials</strong></a></li>
    <li><a href="contact.html" class="nav1" style="margin-left: 10"><strong>Contact Us</strong></a></li>
  </ul>
</aside>
